<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SLC.Lib.Common" version="1.2.2.4-DevPackSplit.4" targetFramework="net462" />
  <package id="SLC.Lib.Protocol" version="1.2.2.4-Dev185873SnmpAgentRestartDetection.6" targetFramework="net462" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net462" developmentDependency="true" />
</packages>